<header class="news-header">
  <nav class="news-nav">
    <div class="logo">
      <h1><a href="/">Dev News</a></h1>
    </div>
    <div class="container">
      <ul class="news-lista">
        <li><a href="/admin/cadastrar">cadastrar</a></li>
        <li><a href="#">gerenciar</a></li>
      </ul>
      <form action="/news-busca" method="post" class="news-form">
        <input type="text" placeholder=" busca..." class="news-busca" name="news_busca" id="news_busca">
        <button  class="news-busca-btn"><i class="fas fa-search"></i></button>
      </form>
    </div>

  </nav>
</header>