<header class="news-header">
  <nav class="news-nav">
    <div class="logo">
      <h1>Dev News</h1>
    </div>
    <div class="container">
      <ul class="news-lista">
        <li><a href="#">cadastrar</a></li>
        <li><a href="#">gerenciar</a></li>
      </ul>
      <form action="/news-busca" method="get" class="news-form">
        <input type="text" placeholder=" busca..." class="news-busca">
        <button class="news-busca-btn">O</button>
      </form>
    </div>

  </nav>
</header>