section {
  width: 100%;
}

section .container {
  top: 120px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.bloco-cadastro {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  height: 650px;
  background-color: white;
  box-shadow: black 0 0 10px;
  margin: 0 0 50px 0;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin: 0px 50px 50px 50px;
}

.bloco-cadastro .form-cadastro {
  margin: 20px 0 20px 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.bloco-cadastro label {
  color: black;
  font-weight: bolder;
}

.bloco-cadastro input {
  display: block;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.bloco-cadastro textarea {
  display: block;
  border: 1px solid grey;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.bloco-cadastro .btn-cadastro {
  width: 200px;
  height: 80px;
  margin: auto;
  background-color: rgb(0, 255, 0);
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: .2s;
}

.bloco-cadastro .btn-cadastro:hover {
  width: 250px;
}
