<%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <section>
    <div class="news-table">
      <div class="news-table-content">
        <div class="news">
          <h2>Título</h2>
          <div class="news-img">
            <img src="https://s2.glbimg.com/O85RaNTTbIiXlvcLA4eqmivABMM=/e.glbimg.com/og/ed/f/original/2019/10/28/aurora-borealis-woods-forest-northern-lights-trees-2647474.jpg" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
        <div class="news">
          <h2>Título</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
        <div class="news">
          <h2>Título</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
        <div class="news">
          <h2>Título</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
        <div class="news">
          <h2>Título</h2>
          <div class="news-img">
            <img src="https://s2.glbimg.com/O85RaNTTbIiXlvcLA4eqmivABMM=/e.glbimg.com/og/ed/f/original/2019/10/28/aurora-borealis-woods-forest-northern-lights-trees-2647474.jpg" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
        <div class="news">
          <h2>Título</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia delectus sed aperiam nulla eos sit velit laudantium ratione maxime autem reprehenderit explicabo itaque eveniet magni, amet nostrum? Ex, quos.</p>
        </div>
      </div>
    </div>
  </section>
</body>